/**

  @grids
---------------------------------------------------------
  layout/_grids.scss
--------------------------------------------------------

  Mixin found under @grid in _mixins.scss.

------------------------------------------------------ */

@include generate-columns();

// row
.row {
  margin: 0 $gutter-width*1em;

  // remove padding on right for LAST column in row
  // float to the right
  & [class*='col-']:last-of-type {
    padding-right: 0;
    float: right;
  }
}

// clear content after row to avoid collapse
.row:after {
  content: "";
  display: table;
  clear: both;
}

// Responsiveness below 34em, stack columns, remove padding.
@include bp-max($breakpoint--md) {
  [class^="col-"] {
    width: 100%;
    padding: 0;
  }
}
