/**

  @hero
--------------------------------------------------------
  components/_hero.scss
--------------------------------------------------------


------------------------------------------------------ */
$bg-color--base: map-get($palette-grey, 300);

.hero {
  position: relative;
  margin-bottom: 3em;
}

.hero--media {
  position: relative;
  z-index: 200;
}

.hero--content {
  position: absolute;
  z-index: 210;
  width: 100%;
  top: 50%;
  text-align: center;
  color: $color-white;

  button {
    margin-bottom: 0.5em;
  }

  h1,
  h2,
  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    margin-top: 4px;
    margin-bottom: 0;
  }
}
